---
export interface Props{
    title:string,
    navItems:{
        itemText:string,
        itemLink:string
    }[]
}

const {title, navItems} = Astro.props
---

<nav class="space-y-6">
    <h2 class="capitalze font-semibold text-heading-1 text-xl dark:text-white">
        {title}
    </h2>
    <ul class="space-y-3 font-medium md:text-lg text-heading-3 dark:text-gray-200">
        {navItems.map((navItem)=>(
            navItem.hidden ? null : (
            <li>
                <a
                    href={navItem.itemLink}
                    class="transition hover:text-primary dark:hover:text-primary-200"
                >
                    {navItem.itemText}
                </a>
            </li>
        )))

        }
    </ul>
</nav>
