---
export interface Props {
  href: string;
  text: string;
}
const { href, text } = Astro.props;
---

<li>
  <a
    href={href}
    class="font-medium hover:text-primary-400 active:text-primary active:bg-primary-950/10 ease-linear duration-300 py-4 lg:py-3 block rounded-md px-2 -mx-2"
  >
    {text}
  </a>
</li>
