---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class="border border-base-400 dark:border-base-dark-400 text-base-800 dark:text-base-dark-100 rounded-full mb-10 w-fit"
>
  <h2 class=`font-bold leading-tight mx-2 my-1 ${className} `>
    <slot />
  </h2>
</div>
